<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>
<body>
Store <br> <br>
Search Name
<form action="/products/search" method="post">
    <input type="text" name="name">
    <button>Search</button>
</form>
Search Price
<form action="/products/searchPrice" method="post">
    <input type="text" name="min">
    <input type="text" name="max">
    <button>Search</button>
</form>
<a href="/products/add">Add Product</a>
<div>
    <!--        <table border="1">-->
    <!--            <tr>-->
    <!--                <th>Name Product</th>-->
    <!--                <th>Price</th>-->
    <!--                <th>Category</th>-->
    <!--                <th><a href="/products/sortPriceASC">SortPrice</a></th>-->
    <!--            </tr>-->
    <!--            <tr th:each="item : ${list}">-->
    <!--                <td><span th:text="${item.name}"></span></td>-->
    <!--                <td><span th:text="${item.price}"></span></td>-->
    <!--                <td><span th:text="${item.category.name}"></span></td>-->
    <!--                <td><a th:href="@{/products/edit/__${item.id}__}">Edit</a></td>-->
    <!--                <td><a th:href="@{/products/delete/__${item.id}__}">Delete</a></td>-->
    <!--            </tr>-->
    <!--        </table>-->

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${page}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.category.name}"></td>
            <td>
                <button><a th:href="@{/products/edit/__${item.id}__}">Edit</a></button>
            </td>
            <td>
                <button><a th:href="@{/products/delete/__${item.id}__}">Delete</a></button>
            </td>
        </tr>

        <div class="pagination">
                <span>Page <span th:text="${page.number + 1}"></span> of <span
                        th:text="${page.totalPages}"></span>.</span>
            <span th:if="${page.hasPrevious()}">
        <a th:href="@{/products?page=__${page.number - 1}__&size=__${page.size}__}">previous</a>
    </span>
            <span th:if="${page.hasNext()}">
        <a th:href="@{/products?page=__${page.number + 1}__&size=__${page.size}__}">next</a>
    </span>
        </div>
        </tbody>
    </table>
</div>
<a href="/products">Quay lại</a>
</body>
</html>